<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811735368827-hid2thts3bbkn95me0p5p73gkbe5qiic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811735368827-hid2thts3bbkn95me0p5p73gkbe5qiic</string>
	<key>API_KEY</key>
	<string>AIzaSyD3xAWtjXpijqJV-tDcLIOYW4sbtZcnx98</string>
	<key>GCM_SENDER_ID</key>
	<string>811735368827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.test</string>
	<key>PROJECT_ID</key>
	<string>foodcourt-8ad03</string>
	<key>STORAGE_BUCKET</key>
	<string>foodcourt-8ad03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811735368827:ios:769800837570528f5e4ede</string>
</dict>
</plist>